* {
    margin: 0;
    padding: 0;
    font-family: 'SF Pro Display', sans-serif;
  
  }
  body{
    background-color: rgb(14,17,17);
  }
  a {
    color:  rgb(78,86,76);
    text-decoration: none;
    transition: 0.3s;
    background-color: black;
  }
  
  a:hover {
    opacity: 0.4;
    transition: 0.5s;
    background-color: black;
  }
  
  
  .logo-1 {
    font-size: 24px;
    letter-spacing: 4px;
    background-color: black;
  }
  
  nav {
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: black;
    height: 8vh;
    border-radius: 10px;
    position: fixed;
    z-index: 2;
  }
  .logo{
      height: 7vh;
  }
  main {
    background-size: cover;
    height: 92vh;
   
  }
  .title{
    margin-top: 140px;
    position: absolute;
    left: 50%;
    width: 75%;
    text-align: center;
    transform: translate(-50%, -50%);
    padding: 10px;
    color: rgb(78,86,76);
    font-size: 23px;
  }
  .card1{
    position: absolute;
    top: 350px;
    left: 50%;
    width: 80%;
    height: 200px;
    border-radius: 40px;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: black;
    box-shadow: 2px 2px 2px 2px rgb(19,19,20);
}
.testo-c1{
  margin-top: 30px;
  text-align: center;
  background-color: black;
  color: blanchedalmond;
}

  .nav-list {
    list-style: none;
    display: flex;
    background-color: black;
    z-index: 2;
    border-radius: 10px;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    background-color: black;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
    background-color: black;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background:  rgb(78,86,76);
    margin: 8px;
    transition: 0.3s;
  }
  
  footer{
    position: absolute;
    top: 110%;
    left: 50%;
    width: 100%;
    height: 50px;
    text-align: center;
    text-decoration: none;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: rgb(78,86,76);
  }
  
  .testofooter{
    background-color: rgb(78,86,76);
    color: black;
    margin-top: 7px;
  }
  
  .link{
    color: blanchedalmond;
    
  }
  
  @media (max-width: 999px) {
     
    body {
      overflow-x: hidden;
  
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background-color: black;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.7s;
  
      
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
  
    }
    .mobile-menu {
      display: block;
  
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
   
  }
  @media screen and (min-width: 601px) {
    div.title {
      font-size: 25px;
    }
  }
  @media screen and (max-width: 400px) {
    div.title {
      font-size: 17px;
    }
  }
  
  
@media screen and (min-width: 640px) {
  div.testo-c1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 600px) {
  div.testo-c1 {
    font-size: 20px;
  }
}
@media screen and (max-width: 380px) {
  div.testo-c1 {
    font-size: 15px;
  }
}


  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  
  